
body{background-color: rgb(238, 238, 230);
    text-align:center;
    font-family:sans-serif;
    font-weight:600;
    filter:blur(.4px);

}

header{
    text-align:right;
    background-color:#1e6345;
    border-bottom:5px solid tan;
}
h1,h2,h3{color:rgb(23, 17, 9);
font-size:10px;}

.white-text{color:white;}

.inline{display:inline-block;
margin:10px;}
.centered{text-align:center;
    padding:5px;
}
.container{
    border:2px solid rgb(248, 210, 175);
    padding:10px;
    margin-left:350px;
    margin-right:350px;
    border-radius:15px;
}

#name,#email{width:300px;
    padding:0px;
}

.button{
    background-color:rgb(55, 43, 35);
    color:white;
    border:bold;
    box-shadow:5px 5px 10px#1e6345;
}
.button:hover{background-color:bisque;}

.colored-section{background-color:rgba(255, 228, 193, 0.877);
    padding-top:10px;
    padding-bottom:40px;
    border-top:5px solid tan;
}

footer{background-color:#1e6345;
border-bottom:5px solid black;
padding:10px;
content:10px;
}
